
# NextAuth requisites
NEXTAUTH_URL=http://localhost:3002
NEXTAUTH_SECRET=your-secret # Can be generated using openssl rand -base64 32 in terminal or via WSL for window users

# Clickhouse database
CLICKHOUSE_URL=http://localhost:8123
CLICKHOUSE_USER=default # Currently unused
CLICKHOUSE_PASSWORD=your-password # Currently unused

# Dashboard default credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

# Postgres database
POSTGRES_URL="postgresql://user:password@localhost:5432/dashboard?schema=public"
