NEXTAUTH_URL=http://localhost:3002
NEXTAUTH_SECRET=your-secret
CLICKHOUSE_URL=http://localhost:8123
CLICKHOUSE_USER=default # Currently unused
CLICKHOUSE_PASSWORD=your-password # Currently unused
ADMIN_USERNAME=admin # Dashboard username
ADMIN_PASSWORD=admin # Dashboard password